body,html {
  width: 100%;
  height: 90%; 
  zoom: 0.5;
}

html{
	font-size: 10rem;
}
.header {
	margin-top: 400px;
	left: 10rem;
	right: 10rem;
	bottom: 5rem;
	font-family: 'Charmonman', cursive;
	font-size: 2rem;
	color: #FF94A3;
}
body {
	background: url(love3.jpg);
	background-size: 5rem 5rem
	background-position: center;
}
button {
	margin-top: 1200px;
}

.btn {
	background-color: #850085;
	font-family: 'Mali', cursive;
	size: 100px 100px;
}
.btn-primary {
	background-color: #850085;
	font-family: 'Mali', cursive;
	size: 100px 100px;
	padding: 0.25rem 1rem 0.25rem 1rem;
	border: none;
	border-radius: 2rem;
}
.btn:hover {
	background-color: #FF8500;
}
.btn-primary:hover {
	background-color: #FF8500;
}
.animated {
	width: 0.5rem
	height: 0.5rem;
}
.content {
	font-family: 'Mali', cursive;
	size: 100px 100px;
}
a {
	color: #FF8500;
}